<html>
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
  </head>
  <body>
  <div>
     <div id="purchase_title">{{ 'sold7' | translate }}</div>
     <div id="purchase">
     </div>
     
     <div id="redeemed_title">{{ 'redeemed7' | translate }}</div>
     <div id="redeemed">
        
     </div>
     
     <div id="revenue" >
        {{ 'revenue7' | translate }}<div id="money"></div>
     </div>
  </div>
     
     <div id="sold">
     
     </div>
     
  </body>
  
</html>