<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>vouchers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/toaster/toaster.css" />
    <link rel="stylesheet" href="assets/loading-bar/loading-bar.css" />
    <link rel="stylesheet" type="text/css" href="assets/angular-trix/trix.css">
    <link rel="stylesheet" href="css/default.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="assets/angular/i18n/angular-locale_zh-cn.js"></script>
    <script type="text/javascript" src="assets/bootstrap/ui-bootstrap-0.13.0.js"></script>
    <script type="text/javascript" src="assets/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script type="text/javascript" src="assets/bootstrap/angular-bootstrap-select.js"></script>
    <script type="text/javascript" src="assets/toaster/toaster.js"></script>
    <script type="text/javascript" src="assets/loading-bar/loading-bar.js"></script>
    <script type="text/javascript" src="assets/echarts.common.min.js"></script>
    <script type="text/javascript" src="assets/datetime-picker/datetime-picker.js"></script>
    <script type="text/javascript" src="assets/underscore/underscore.js"></script>
    <script src="assets/angular-trix/trix.js"></script>
    <script src="assets/angular-trix/angular-trix.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
       <!--国际化 -->
    <script type="text/javascript" src="assets/angular/angular-translate.min.js"></script>
    <!--cookies  -->
    <script type="text/javascript" src="assets/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular-translate-loader-partial.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular-translate-storage-cookie.min.js"></script>
    <script type="text/javascript" src="assets/angular/angular-translate-storage-local.min.js"></script>
    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>-->
    <script type="text/javascript" src="assets/map/baiduMap.js"></script>
    <!-- Modules -->
    <script type="text/javascript" src="app/app.config.js"></script>
    <script type="text/javascript" src="app/app.core.js"></script>
    <script type="text/javascript" src="app/app.routes.js"></script>
    <script type="text/javascript" src="app/app.services.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/providers/messageClient.js"></script>
     <script type="text/javascript" src="app/providers/messageClient1.js"></script>
    <!-- Controllers -->
    <script type="text/javascript" src="app/controllers/totalController.js"></script>
    <script type="text/javascript" src="app/controllers/home/loginController.js"></script>
    <script type="text/javascript" src="app/controllers/home/homeController.js"></script>
    <script type="text/javascript" src="app/controllers/vendors/vendorsController.js"></script>
    <script type="text/javascript" src="app/controllers/vendors/addVendorsController.js"></script>
    <script type="text/javascript" src="app/controllers/vendors/vendorsDetailController.js"></script>
    <script type="text/javascript" src="app/controllers/categories/categoryController.js"></script>
    <script type="text/javascript" src="app/controllers/categories/categoryController.js"></script>
    <script type="text/javascript" src="app/controllers/categories/addCateController.js"></script>
    <script type="text/javascript" src="app/controllers/categories/cateDetailController.js"></script>
    <script type="text/javascript" src="app/controllers/user/userController.js"></script>
    <script type="text/javascript" src="app/controllers/user/addUserController.js"></script>
    <script type="text/javascript" src="app/controllers/user/editPasswordController.js"></script>
    <script type="text/javascript" src="app/controllers/deal/dealController.js"></script>
    <script type="text/javascript" src="app/controllers/deals/dealsListController.js"></script>
    <script type="text/javascript" src="app/controllers/deals/dealsDetailController.js"></script>
    <script type="text/javascript" src="app/controllers/voucher/voucherController.js"></script>
    <script type="text/javascript" src="app/controllers/voucher/verifyVoucherController.js"></script>
    <script type="text/javascript" src="app/controllers/voucher/useVoucherController.js"></script>
    <script type="text/javascript" src="app/controllers/voucher/voucherListController.js"></script>
    <script type="text/javascript" src="app/controllers/details/detailController.js"></script>
    <script type="text/javascript" src="app/controllers/details/detailBatchController.js"></script>
    <script type="text/javascript" src="app/controllers/details/userCouponController.js"></script>
    
     <!-- Services -->
    <script type="text/javascript" src="app/services/auth/authenticationService.js"></script>
    <script type="text/javascript" src="app/services/vendors/vendorsService.js"></script>
    <script type="text/javascript" src="app/services/home/permissionService.js"></script>
    <script type="text/javascript" src="app/services/categories/categoriesService.js"></script>
    <script type="text/javascript" src="app/services/user/userService.js"></script>
    <script type="text/javascript" src="app/services/deal/dealService.js"></script>
    <script type="text/javascript" src="app/services/deals/dealsService.js"></script>
    <script type="text/javascript" src="app/services/voucher/voucherService.js"></script>
    <script type="text/javascript" src="app/services/details/detailService.js"></script>
</head>
<body style="background-color: rgba(240, 240, 240, 1);">
    <div ng-controller="HomeController">

<header>
	<div  id="top">
		<div class="index-logo">
			<img src="images/u61.png" id="images"/>
		</div>
	    <div id="voucher">{{ 'title' | translate }}</div>
	    <div id="project" ng-click="toHome()">{{merchantName}}</div>
	       <div id="out" ng-click="logout()">{{ 'logout' | translate }}</div>
		   <select id="lan-en" ng-model="language" ng-change="changeLanguage(language)">
		   		<option value="">language</option>
		   		<option value="en_US">English</option>
		   		<option value="zh_CN">中文</option>
		   </select>
			</div>
</header>


<div id="rightPanel">
  <div style="margin-top: 28px">
     <li ng-repeat="per in permissionList" ng-show="per.isParent == 1" id="permiss">
	     <img class="logos" src="images/0.png" ng-show="per.manageModuleId == 134"/>
	     <img class="logos" src="images/1.png" ng-show="per.manageModuleId == 139"/>
	     <img class="logos" src="images/2.png" ng-show="per.manageModuleId == 144"/>
	     <img class="logos" src="images/u14.png" ng-show="per.manageModuleId == 155"/>
	     <img class="logos" src="images/3.png" ng-show="per.manageModuleId == 156"/>
	     <img class="logos" src="images/u14.png" ng-show="per.manageModuleId == 150"/>
	     <img class="logos" src="images/u12.png" ng-show="per.manageModuleId == 151"/>
	     <img class="logos" src="images/u16.png" ng-show="per.manageModuleId == 152"/>
	     <img class="logos" src="images/3.png" ng-show="per.manageModuleId == 153"/>
	     <img class="logos" src="images/3.png" ng-show="per.manageModuleId == 147"/>&nbsp;&nbsp;
	     <a id="cate" ng-click='clickGroup(per.viewName)'>{{per.moduleName}}</a>
     </li>
    <!--  <li ng-repeat="per in permissionList" ng-show="per.isParent == 2" id="permiss">
	     <img class="logos" src="images/u14.png" ng-show="per.manageModuleId == 150"/>
	     <img class="logos" src="images/u12.png" ng-show="per.manageModuleId == 151"/>
	     <img class="logos" src="images/u16.png" ng-show="per.manageModuleId == 152"/>
	     <img class="logos" src="images/3.png" ng-show="per.manageModuleId == 153"/>&nbsp;&nbsp;
	     <a id="cate" ng-click='clickGroup(per.viewName)'>{{per.moduleName}}</a>
     </li>
     
     <li id="permiss">
        <img class="logos" src="images/u14.png"/>
        <a id="cate" ng-click="clickGroup('buyDetail')">可售列表</a>
     </li>
     <li id="permiss">
        <img class="logos" src="images/3.png"/>
        <a id="cate" ng-click="clickGroup('userCou')">我的优惠券</a>
     </li> -->
  </div>
</div>



<div id="content">
                <div  ng-view=""></div>
            </div>
    </div>
    
     


</body>

</html>
